.container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  margin: auto;
  margin-top: auto;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: aliceblue;
  width: 50%;
  margin-top: 5%;
}

.container input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 1rem 0 1rem 0;
}

.container button:first-of-type {
  margin-bottom: 1rem;
}
