.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 256px;
  border-radius: 5%;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
}

.card img {
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  display: flex;
  flex-direction: column;
  padding: 2px 16px;
}
